.post{
    width: 50%;
    background-color:#f9f7f7 ;
    border: 2px outset;
    border-radius: 2px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin: 0 auto;
    
}
.textos{
    padding-left: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}
.post img{
    width: 40%;
}
.post h3{
    color: rgb(2, 2, 172);
}
.post button {
    align-self: flex-end;
    background-color: blue;
    color: #f9f7f7;
}